body{
    background-color: blueviolet;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0px;
    border-radius: 30px;
}

.sign-up-container{
    background-color: gold;
    border-radius: 15px;
    padding: 40px;
    width: 300px;
    box-shadow: 0 0 10px orangered;
    max-height: 100vh;
    margin-top: 110px;
}

h1{
    text-align: center;
    font-weight: bold;
}

label{
    display: block;
    margin: 5px;
}

input{
    width: 100%;
    padding: 10px;
    border: 2px solid orangered;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.button{
    border-radius: 10px;
    color: white;
    background-color: purple;
    border: none;
    font-size: 20px;
    padding: 7px;
    cursor: pointer;
}

.button:active{
    padding: 8px;
}